[submodule "src/lib/glfw"]
	path = src/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/lib/taskflow"]
	path = src/lib/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "src/lib/yaml-cpp"]
	path = src/lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
