[submodule "src/lib/glfw"]
	path = src/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/lib/taskflow"]
	path = src/lib/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "src/lib/CLI11"]
	path = src/lib/CLI11
	url = https://github.com/CLIUtils/CLI11.git
